body {
  /*Шрифт*/
   font-family: 'Space Mono' monospace
   font-size: 16px;
   line-height: 1.6;
   color: white;
  /*Фон*/
  background-image: url("images/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:0 0 ;
    }

*,
  *:before,
  *:after{
    box-sizing: border-box;
  }

.intro{
  display:flex;
  justify-content:space-between;
  margin: 0px;
  
} 

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.menu{
padding-top:0px;
padding-bottom: 10px;
}
ul {
  padding-left: 0px;
}

nav ul {
  min-height: 10px;

}
nav ul p {
  margin: 0;
  text-align: center;
  width: 125px;
  font-size: 25px;  
  height: 50px;
 
}
nav ul ul {
  display: none;
  overflow: hidden;
  background-color: #1e1e1e;
  max-width: 125px;
  text-align: left;
}
nav ul ul li a {
  display: inline-block;
  padding: 6px 8px;
  text-decoration: none;
  color: #3fcfa4;
  width: 100%;
}
nav ul ul li a:hover {
  background-color: white;
}
nav ul:hover ul {
  display: block;
}